In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('dataset/Bengaluru_House_Data.csv')

In [4]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [5]:
data.shape

(13320, 9)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [7]:
for column in data.columns:
    print(data[column].value_counts())
    print("-"*30)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
------------------------------
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
------------------------------
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
------------------------------
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
------------------------------
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
------------------------------
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
------------------------------
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
------------------------------
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
------------------------------
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
------------------------------

In [8]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [9]:
data.drop(columns=['area_type','availability','society','balcony'],inplace = True)

In [10]:
data

                       location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13320 rows x 5 columns]

In [11]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [12]:
data.isna().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [13]:
data['location'].value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [14]:
data['location'] = data['location'].fillna('Whitefield')

In [15]:
data['size'].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [16]:
data['size'] = data['size'].fillna('2 BHK')

In [17]:
data['bath'].describe()

count    13247.000000
mean         2.692610
std          1.341458
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max         40.000000
Name: bath, dtype: float64

In [18]:
data['bath'] = data['bath'].fillna(data['bath'].median())

In [19]:
data.isna().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [20]:
data['bhk']=data['size'].str.split().str.get(0)

In [21]:
data.head()

                   location       size total_sqft  bath   price bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07   2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00   4
2               Uttarahalli      3 BHK       1440   2.0   62.00   3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00   3
4                  Kothanur      2 BHK       1200   2.0   51.00   2

In [22]:
data['bhk'] = data['bhk'].astype(int)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
 5   bhk         13320 non-null  int32
dtypes: float64(2), int32(1), object(3)
memory usage: 572.5+ KB

In [24]:
data.drop(columns = 'size',inplace = True)

In [25]:
data.sample(5)

                   location total_sqft  bath  price  bhk
2823            Vittasandra       2105   2.0   70.2    2
3620    Devarabeesana Halli       1750   3.0  149.0    3
13021              Kothanur       1195   2.0   59.0    2
4693      Bannerghatta Road       1725   3.0  110.0    3
6050             NTI Layout       1200   2.0   52.5    2

In [26]:
data[data['bhk']>22]

                       location total_sqft  bath  price  bhk
1718  2Electronic City Phase II       8000  27.0  230.0   27
4684                Munnekollal       2400  40.0  660.0   43

In [27]:
data = data[data['bhk']<22]

In [28]:
data.shape

(13318, 5)

In [29]:
data.head()

                   location total_sqft  bath   price  bhk
0  Electronic City Phase II       1056   2.0   39.07    2
1          Chikka Tirupathi       2600   5.0  120.00    4
2               Uttarahalli       1440   2.0   62.00    3
3        Lingadheeranahalli       1521   3.0   95.00    3
4                  Kothanur       1200   2.0   51.00    2

In [30]:
def convertRange(x):
    temp = x.split('-')
    if len(temp) == 2:
        return float((float(temp[0])+float(temp[1]))/2)
    try:
        return float(x)
    except:
        return None

In [31]:
data['total_sqft'] = data['total_sqft'].apply(convertRange)

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13318 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13318 non-null  object
 1   total_sqft  13272 non-null  float64
 2   bath        13318 non-null  float64
 3   price       13318 non-null  float64
 4   bhk         13318 non-null  int32
dtypes: float64(3), int32(1), object(1)
memory usage: 572.3+ KB

In [33]:
data['total_sqft'] = data['total_sqft'].fillna(data['total_sqft'].median())

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13318 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13318 non-null  object
 1   total_sqft  13318 non-null  float64
 2   bath        13318 non-null  float64
 3   price       13318 non-null  float64
 4   bhk         13318 non-null  int32
dtypes: float64(3), int32(1), object(1)
memory usage: 572.3+ KB

In [35]:
# Price per sqft : price/total_sqft
data['price_per_sqft'] = data['price']*100000 / data['total_sqft']

In [36]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13318, dtype: float64

In [37]:
data['price_per_sqft'].describe()

count    1.331800e+04
mean     7.918312e+03
std      1.062549e+05
min      2.678298e+02
25%      4.266865e+03
50%      5.440000e+03
75%      7.327287e+03
max      1.200000e+07
Name: price_per_sqft, dtype: float64

In [38]:
data['location'].value_counts()

location
Whitefield                            541
Sarjapur  Road                        399
Electronic City                       302
Kanakpura Road                        273
Thanisandra                           234
                                     ...
 Whitefield                             1
Kengeri Satellite Town ( BDA SITE)      1
Indiranagar HAL 2nd Stage               1
K R C kothanur                          1
Abshot Layout                           1
Name: count, Length: 1304, dtype: int64

In [39]:
# Removing spacing b/w Location values
data['location'] = data['location'].apply(lambda x: x.strip())

In [40]:
data['location'].value_counts()

location
Whitefield                        542
Sarjapur  Road                    399
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Vasantapura main road               1
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
Abshot Layout                       1
Name: count, Length: 1293, dtype: int64

In [41]:
location_count = data['location'].value_counts()

In [42]:
location_count

location
Whitefield                        542
Sarjapur  Road                    399
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Vasantapura main road               1
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
Abshot Layout                       1
Name: count, Length: 1293, dtype: int64

In [43]:
location_count_less_10 = location_count[location_count < 10]

In [44]:
location_count_less_10

location
Vishwanatha Nagenahalli           9
Chennammana Kere                  9
2nd Phase JP Nagar                9
Jakkur Plantation                 9
B Narayanapura                    9
                                 ..
Vasantapura main road             1
Bapuji Layout                     1
1st Stage Radha Krishna Layout    1
BEML Layout 5th stage             1
Abshot Layout                     1
Name: count, Length: 1039, dtype: int64

In [45]:
data['location'] = data['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [46]:
data['location'].value_counts()

location
other                  2754
Whitefield              542
Sarjapur  Road          399
Electronic City         304
Kanakpura Road          273
                       ...
BTM 1st Stage            10
Basapura                 10
Sector 1 HSR Layout      10
Kalkere                  10
Nagadevanahalli          10
Name: count, Length: 255, dtype: int64

In [47]:
#sqft for one bhk
(data['total_sqft']/data['bhk']).describe()

count    13318.000000
mean       575.182611
std        388.129091
min          0.250000
25%        473.000000
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [48]:
data = data[data['total_sqft']/data['bhk']>300]

In [49]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12386.000000  12386.000000  12386.000000  12386.000000    12386.000000
mean    1600.087335      2.541821    110.852400      2.632569     6217.760401
std     1266.967635      1.064980    152.630056      0.964565     4061.413963
min      340.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4200.000000
50%     1305.000000      2.000000     69.500000      3.000000     5268.245958
75%     1705.000000      3.000000    115.000000      3.000000     6840.980657
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [50]:
def rem_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        s = np.std(subdf.price_per_sqft)
        temp_df = subdf[(subdf.price_per_sqft > (m-s)) & (subdf.price_per_sqft <= (m+s))]
        df_output = pd.concat([df_output, temp_df], ignore_index= True)
    return df_output

data = rem_outliers_sqft(data)

In [51]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10107.000000  10107.000000  10107.000000  10107.000000    10107.000000
mean    1510.934101      2.464233     91.479597      2.563372     5639.020616
std      883.832740      0.973212     88.459497      0.882811     2240.993217
min      340.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4248.717576
50%     1290.000000      2.000000     67.000000      2.000000     5171.619614
75%     1650.000000      3.000000    100.000000      3.000000     6405.067359
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [52]:
def rem_outlier_bhk(df):
    outlier_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_info = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_info[bhk] = {
                'm' : np.mean(bhk_df.price_per_sqft),
                's' : np.std(bhk_df.price_per_sqft),
                'c' : bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            info = bhk_info.get(bhk-1)
            if info and info['c'] > 5:
                outlier_indices = np.append(outlier_indices, bhk_df[bhk_df.price_per_sqft < (info['m'])].index.values)
    return df.drop(outlier_indices , axis = 'index')

In [53]:
data.shape

(10107, 6)

In [54]:
data = rem_outlier_bhk(data)

In [55]:
data.shape

(7259, 6)

In [56]:
data.head()

              location  total_sqft  bath  price  bhk  price_per_sqft
0  1st Block Jayanagar      2850.0   4.0  428.0    4    15017.543860
1  1st Block Jayanagar      1630.0   3.0  194.0    3    11901.840491
2  1st Block Jayanagar      1875.0   2.0  235.0    3    12533.333333
3  1st Block Jayanagar      1200.0   2.0  130.0    3    10833.333333
4  1st Block Jayanagar      1235.0   2.0  148.0    2    11983.805668

In [57]:
# price_per_sqft was required to remove outliers
# since we removed outliers now,can drop it
data.drop(columns = 'price_per_sqft', inplace = True)

In [58]:
data.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [59]:
data.to_csv('Cleaned_data.csv')

In [59]:
X = data.drop(columns = 'price')
y = data['price']

In [60]:
X.shape , y.shape

((7259, 4), (7259,))

In [61]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [62]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

# Linear Regression

In [63]:
col_trans = make_column_transformer((OneHotEncoder(sparse_output=False), ['location']),remainder = 'passthrough')

In [64]:
scaler = StandardScaler()

In [65]:
lr = LinearRegression()

In [66]:
pipe = make_pipeline(col_trans, scaler, lr)

In [67]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [68]:
y_pred_lr = pipe.predict(X_test)

In [69]:
r2_score(y_test,y_pred_lr)

0.8756616679232236

# Ridge

In [70]:
ridge = Ridge()

In [71]:
pipe_ridge = make_pipeline(col_trans, scaler, ridge)

In [72]:
pipe_ridge.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [73]:
y_pred_ridge = pipe_ridge.predict(X_test)

In [74]:
r2_score(y_test,y_pred_ridge)

0.8757615273063019

# Lasso

In [75]:
lasso = Lasso()

In [76]:
pipe_lasso = make_pipeline(col_trans, scaler, lasso)

In [77]:
pipe_lasso.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [78]:
y_pred_lasso = pipe_lasso.predict(X_test)

In [79]:
r2_score(y_test,y_pred_lasso)

0.8695929485063161

In [80]:
print("No Regularization: ", r2_score(y_test,y_pred_lr))
print("Ridge: ", r2_score(y_test,y_pred_ridge))
print("Lasso: ", r2_score(y_test,y_pred_lasso))

No Regularization:  0.8756616679232236
Ridge:  0.8757615273063019
Lasso:  0.8695929485063161

Since Ridge has the most accuracy compared to others, we use Ridge Model